/.vscode
/Lista1
/Lista2
/Lista2.zip
/Lista3
/Lista3.zip
/Lista4
/Lista4.zip
/Lista5
/Lista5.zip
/Lista6
/Lista6.zip
/Lista7
/Lista7.zip
/Lista8
/Lista8.zip
/Lista9
/Lista9.zip
/teste
/Batalha Pokemon.zip
/Documentação - Batalha Pokemon.pdf
/TP1PDS1.pdf